-var catalog = [];
-catalog[0] = {};
-catalog[0].title = 'Универсальные'
-catalog[0].count = '189'
-catalog[0].items = []
-catalog[0].items[0] = {}
-catalog[0].items[0].title = 'Малые размеры'
-catalog[0].items[0].count = '1'
-catalog[0].items[1] = {}
-catalog[0].items[1].title = 'Большие размеры'
-catalog[0].items[1].count = '15'
-catalog[0].items[2] = {}
-catalog[0].items[2].title = 'Средние размеры'
-catalog[0].items[2].count = '105'
-catalog[0].items[3] = {}
-catalog[0].items[3].title = 'Транспортные контейнеры'
-catalog[0].items[3].count = '1'

-catalog[1] = {};
-catalog[1].title = 'Специальные'
-catalog[1].count = '18'
-catalog[1].items = []
-catalog[1].items[0] = {}
-catalog[1].items[0].title = 'Рэковые'
-catalog[1].items[0].count = '4'
-catalog[1].items[1] = {}
-catalog[1].items[1].title = 'Медицинские'
-catalog[1].items[1].count = '9'
-catalog[1].items[2] = {}
-catalog[1].items[2].title = 'Инструменты'
-catalog[1].items[2].count = '15'
-catalog[1].items[3] = {}
-catalog[1].items[3].title = 'IT и Офис'
-catalog[1].items[3].count = '111'

-catalog[2] = {};
-catalog[2].title = 'Гаджеты'
-catalog[2].count = '868'
-catalog[2].items = []
-catalog[2].items[0] = {}
-catalog[2].items[0].title = 'Смартфоны'
-catalog[2].items[0].count = '78'
-catalog[2].items[1] = {}
-catalog[2].items[1].title = 'Планшеты'
-catalog[2].items[1].count = '2'
-catalog[2].items[2] = {}
-catalog[2].items[2].title = 'Ноутбуки'
-catalog[2].items[2].count = '23'

-catalog[3] = {};
-catalog[3].title = 'Путешествия'
-catalog[3].count = '219'
-catalog[3].items = []
-catalog[3].items[0] = {}
-catalog[3].items[0].title = 'Рюкзаки'
-catalog[3].items[0].count = '23'
-catalog[3].items[1] = {}
-catalog[3].items[1].title = 'Кейсы-холодильники'
-catalog[3].items[1].count = '63'
-catalog[3].items[2] = {}
-catalog[3].items[2].title = 'Чемоданы'
-catalog[3].items[2].count = '21'
-catalog[3].items[3] = {}
-catalog[3].items[3].title = 'Дипломаты'
-catalog[3].items[3].count = '13'
-catalog[3].items[4] = {}
-catalog[3].items[4].title = 'В машину'
-catalog[3].items[4].count = '53'

-catalog[4] = {};
-catalog[4].title = 'Фото и Спорт'
-catalog[4].count = '189'
-catalog[4].items = []
-catalog[4].items[0] = {}
-catalog[4].items[0].title = 'Фото и видео'
-catalog[4].items[0].count = '62'
-catalog[4].items[1] = {}
-catalog[4].items[1].title = 'Стрелковое оружие'
-catalog[4].items[1].count = '42'
-catalog[4].items[2] = {}
-catalog[4].items[2].title = 'Метальное'
-catalog[4].items[2].count = '12'
-catalog[4].items[3] = {}
-catalog[4].items[3].title = 'Боулинг, бейсбол, гольф'
-catalog[4].items[3].count = '22'
-catalog[4].items[4] = {}
-catalog[4].items[4].title = 'Рыболовные снасти'
-catalog[4].items[4].count = '32'

-catalog[5] = {};
-catalog[5].title = 'Музыкантам'
-catalog[5].count = '189'
-catalog[5].items = []
-catalog[5].items[0] = {}
-catalog[5].items[0].title = 'Педалборды'
-catalog[5].items[0].count = '24'
-catalog[5].items[1] = {}
-catalog[5].items[1].title = 'Гитары'
-catalog[5].items[1].count = '54'
-catalog[5].items[2] = {}
-catalog[5].items[2].title = 'Клавишные'
-catalog[5].items[2].count = '87'
-catalog[5].items[3] = {}
-catalog[5].items[3].title = 'Ударные'
-catalog[5].items[3].count = '23'
-catalog[5].items[4] = {}
-catalog[5].items[4].title = 'Оркестровые'
-catalog[5].items[4].count = '45'
-catalog[5].items[5] = {}
-catalog[5].items[5].title = 'Аудио, DJ'
-catalog[5].items[5].count = '54'

-catalog[6] = {};
-catalog[6].title = 'Аксессуары'
-catalog[6].count = '68'
-catalog[6].items = []
-catalog[6].items[0] = {}
-catalog[6].items[0].title = 'PELIKAN'
-catalog[6].items[0].count = '23'
-catalog[6].items[1] = {}
-catalog[6].items[1].title = 'TOTEM'
-catalog[6].items[1].count = '34'
-catalog[6].items[2] = {}
-catalog[6].items[2].title = 'PRO 4x4'
-catalog[6].items[2].count = '65'
-catalog[6].items[3] = {}
-catalog[6].items[3].title = 'ORT'
-catalog[6].items[3].count = '45'



div.main-catalog.clearfix
	div.main-catalog-line
		-for(var i = 0; i < 3; i++)
			div.main-catalog-item
				a(href="#").main-catalog-preview
					img(src="images/example/catalog/#{i+1}.png" alt="").main-catalog-img
					div.main-catalog-title
						!= catalog[i].title
						span.main-catalog-total-count - #{catalog[i].count} -
				div.main-catalog-category
					-for(var j=0; j < catalog[i].items.length; j++)
						a(href="#").main-catalog-category-item
							!= catalog[i].items[j].title
							span.main-catalog-count - #{catalog[i].items[j].count} -
					!='\n'
	div.main-catalog-line
		-for(var i = 3; i < 6; i++)
			div.main-catalog-item
				a(href="#").main-catalog-preview
					img(src="images/example/catalog/#{i+1}.png" alt="").main-catalog-img
					div.main-catalog-title
						!= catalog[i].title
						span.main-catalog-total-count - #{catalog[i].count} -
				div.main-catalog-category
					-for(var j=0; j < catalog[i].items.length; j++)
						a(href="#").main-catalog-category-item
							!= catalog[i].items[j].title
							span.main-catalog-count - #{catalog[i].items[j].count} -
						!='\n'
	div.main-catalog-line
		-for(var i = 6; i < 7; i++)
			div.main-catalog-item
				a(href="#").main-catalog-preview
					img(src="images/example/catalog/#{i+1}.png" alt="").main-catalog-img
					div.main-catalog-title
						!= catalog[i].title
						span.main-catalog-total-count - #{catalog[i].count} -
				div.main-catalog-category
					-for(var j=0; j < catalog[i].items.length; j++)
						a(href="#").main-catalog-category-item
							!= catalog[i].items[j].title
							span.main-catalog-count - #{catalog[i].items[j].count} -
						!='\n'
		div.banner-main
			div.banner-main-ctn
				div.banner-main-bg
				div.banner-main-info
					div.left.banner-main-actions
						div.banner-main-text
							| Акция
							!="\n"
							a(href="#").banner-main-all-actions открыть все акции
						div.banner-main-date до 12 декабря 2015
					div.right.banner-main-title
						a(href="#").banner-main-link iM2050GP2 <b>GoPro Case</b>
					div.clearfix
					a(href="#").left.banner-main-img
						img(src="images/example/banner-main.png" alt="")
					div.right.banner-main-data
						p Защитный кейс <br/>от компании <br/>PELICAN <br/>на 2 камеры <br/>GoPro
						div.banner-main-old-price 21 000 Р
						div.banner-main-new-price 15 000 Р
						a(href="#").button-detail Подробно


